@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Poppins:wght@400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;600&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100;200;300;400;600&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    
}

.com-space{
        margin:1.8rem 0;
        padding:3.6rem 0;
}
.com-space span{
  background-color: var(--pri-c);
  color:white;
  padding:4px 16px;
}

h1,h2,h3,h4,h5,h6,li{
    /* font-family: "Open Sans", sans-serif; */
    font-family: 'Fira Sans', sans-serif;
}

p,a,button{

        font-family: 'Poppins', sans-serif !important;
        /* font-family: 'Fira Sans', sans-serif; */
      
}


:root{
    --pri-c:  #ada2e0;
    --p-c: #832185;
    --sec-c: rgb(212, 212, 212);
    --t-c: rgb(95, 95, 95);
    --a-c:#832185;
}



.com-space h4{
  font-size: 2.6rem;
    /* color: var(--t-c); */
    /* font-weight:600; */
    text-transform: capitalize;
    padding-left:1rem;
    margin:1.5rem 0;
    text-align: start;
}
.com-space h1{
  font-size: 2rem;
    /* color: var(--t-c); */
    font-weight:400;
    text-transform: capitalize;
    padding-left:1rem;
    margin:1.5rem 0;
    /* text-align: center; */
  }

  .com-space p{
  width: 50%;
  padding-left:1rem;
  margin:1rem  0 3rem 0;
  text-align: start;
}

/* <!-- header============================================================= --> */


.navbar {
    background-color: transparent !important;
    /* box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1); */
  }
  .navbar .navbar-brand img {
    max-width: 100px;
  }
  .navbar .navbar-nav .nav-link {
    color: #000;
  }
  @media screen and (min-width: 1024px) {
    .navbar {
      letter-spacing: 0.1em;
    }
    .navbar .navbar-nav .nav-link {
      padding: 0.5em 1em;
    }
    /* .search-and-icons {
      width: 50%;
    } */
    .search-and-icons form {
      flex: 1;
    }
  }

  /* small-device======================= */

  @media screen and (max-width: 480px) {
    .who-w h4{
      padding-top:5% !important;
      font-size:2rem !important;
    }
    .who-w img, .why-us img{
      height:300px !important;
      margin-top: 0 !important;
    }
    .com-space h4{
      font-size: 1.6rem;
        /* color: var(--t-c); */
        /* font-weight:600; */
        text-transform: capitalize;
        padding-left:1rem;
        margin:0.5rem 0;
        text-align: start;
    }
    .com-space h1{
      font-size: 1.2rem;
        /* color: var(--t-c); */
        font-weight:400;
        text-transform: capitalize;
        padding-left:1rem;
        margin:0.5rem 0;
        /* text-align: center; */
      }
    
      .com-space p{
        font-size: 0.9rem;
      width: 100%;
      padding-left:1rem;
      margin:1rem  0 3rem 0;
      text-align: start;
    }
    
    
    .com-space {
      margin: 1rem 0;
      padding: 2rem 0;
    }
    .footer{
      display: unset !important;
      text-align: center;
      line-height: 30px;
    }

    .navbar .navbar-brand img{
      width:140px !important;
    }
    .navbar-brand{
      margin-left:5%;
    }
    

  }
  @media screen and (max-width: 768px) {
    .navbar-nav{
        margin:1.4rem 0;
    }
    .navbar .navbar-nav .nav-link{
        padding-left:1.5rem;
        border-radius: 9px;
    }
    .navbar .navbar-nav .nav-link:hover{
        background-color: var(--pri-c);
    }

    .search-and-icons{
      margin-top:2rem;
      
    }
    .search-and-icons .login{
      margin:0 1rem;
    }
    .navbar-collapse{
      border-top:1px solid var(--sec-c);
    }
    .navbar{
      border-bottom:1px solid var(--sec-c);

    }


/* slider */

.slider-top {
  margin:2rem auto ;
  width: 90vw;
  height: unset !important;
}
.swiper img{
  width:100%;
  height:unset !important;  
  border-radius: 15px;  
}

/* latest */

.redirection-link{
  float: unset !important;
  margin-right:1.8rem;
  position: relative;
  left: 75%;
  width: 21%;
  border-bottom:2px solid var(--p-c)
}

.com-space p{
  
  width: 100%;
  padding-left:1rem;
  margin:1rem  0 3rem 0;
  text-align: start;
}

/* .who-w.com-space {
  margin-top:0;
  padding-top:0;
} */

.why-us.com-space{
  margin-bottom: 0;
  padding-bottom: 0;
}

.social-icon{
  padding:0 1rem  !important;
}
.cont-ad{
  border-right:none !important;
}




  }




  @media screen and (min-width: 768px) {
   
    .navbar .navbar-brand img {
      max-width: 7em;
    }
    .navbar .navbar-collapse {
      display: flex;
      /* flex-direction: column-reverse; */
      justify-content: space-around;
      align-items: flex-end;
    }
    .search-and-icons {
      display: flex;
      align-items: center;
    }
  }
  .search-and-icons form input {
    border-radius: 0;
    height: 2em;
    background: #fff
      url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='grey' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'/%3E%3C/svg%3E")
      no-repeat 95%;
  }
  .search-and-icons form input:focus {
    background: #fff;

    box-shadow: none;
  }
  .search-and-icons .user-icons div {
    padding-right: 1em;
  }
  .contact-info p,
  .contact-info a {
    font-size: 0.9em;
    padding-right: 1em;
    color: grey;
  }
  .contact-info a {
    padding-right: 0;
  }

  .user-icons a{
    color:var(--t-c);
    text-decoration: none;

  }
  .navbar-toggler{
    border: 0px  dashed transparent ;
  }
  .navbar-toggler:focus{
    /* border: 2px  dashed var(--pri-c) ; */
    box-shadow: 0 0 0 !important;
  }

  .navbar-toggler svg{
    width:62%;
  }
  
  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
.hamRotate180.active {
  transform: rotate(180deg);
}
.line {
  fill:none;
  transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
  stroke:#000;
  stroke-width:5.5;
  stroke-linecap:round;
}
.ham1 .top {
  stroke-dasharray: 40 139;
}
.ham1 .bottom {
  stroke-dasharray: 40 180;
}
.ham1.active .top {
  stroke-dashoffset: -98px;
}
.ham1.active .bottom {
  stroke-dashoffset: -138px;
}
  /* <!-- header============================================================= --> */




  /* slider==================================================== */

  .slider-top {
    margin:2rem auto ;
    width: 90vw;
    height: 100vh;
  }
  .swiper img{
    width:100%;
    height:90%;  
    border-radius: 15px;  
  }

  .swiper-pagination-bullet{
    width: 50px;
    border-radius: 10px;
    background-color: transparent;
    border:2px solid var(--p-c);
  }
  .swiper-pagination-bullet-active{
    background-color: var(--pri-c);
    border:2px solid var(--pri-c);
  }

  .swiper-button-next, .swiper-button-prev{
        color:var(--pri-c)
  }

  .swiper-button-prev{
    left:-3rem;
  }
  .swiper-button-next{
    right:-3rem;
  }


  .swiper:hover .swiper-button-prev{
    left:20px;
    transition: 0.6s;
  }
  .swiper-button-prev:hover{
    color: var(--p-c);
  }
  .swiper-button-next:hover{
    color: var(--p-c);
  }
  .swiper:hover .swiper-button-next{
    right:20px;
    transition: 0.6s;
  }



  /* slider==================================================== */


/* customise============================================ */

.cuz-banner{
    /* border-top:1px solid var(--pri-c);
    border-bottom:1px solid var(--pri-c); */
    padding:1rem 0;
    text-align: center;
}
.cuz-banner .col-md-7{
    margin:0 auto;
}

.cuz-outer{
   margin-top:5rem ;
}
.cuz_link{

  margin:1.5rem 0;
}
.cuz-outer a{
    border:2px solid var(--sec-c);
    color:var(--p-c);
    padding: 12px 48px;

    text-decoration: none;
    border-radius:30px;
}
.cuz-outer a:hover{
  /* background-color: var(--sec-c); */
  border:2px dashed var(--sec-c);
}
.cuz-outer i{
  position: relative;
  right:-6px;
  top:2px;
}
.cuz-outer a:hover i{
  right:-9px;
}

/* customise============================================ */

/* image-slider====================== */

.new-arri{
  background-color: #f7f7f7;
  /* padding:5rem 0; */
}

.new-arri .item img{
  /* border-radius:20px; */
}
.item p{
font-weight: 400;
}
.item h5{
  font-size: 0.9rem;
  margin:1rem 0;
}
.new-arri .item p{
  opacity: 1;
  position: absolute;
  width:100px;
  height:100px;
  padding-left:0;
  line-height: 100px;
  text-align: center;
  border-radius: 50%;
  top:40%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.888);
  transition: 0.2s;
}
.new-arri .item p a{
  color: var(--t-c);
  text-decoration: none;
  
}
.new-arri .item p a:hover{
  color:var(--a-c)
}

.redirection-link{
  float: right;
  margin-right:1.8rem;
  border-bottom:2px solid var(--p-c)
}

.redirection-link a{
  color:var(--p-c);
  text-decoration:none;
  text-transform: uppercase;
  
}

.redirection-link:hover i{
  position:relative;
  right:-15px;
  
}

/* image-slider====================== */


/* <!-- shoping-img================================ --> */


.coll-avai{
  background-color: #272126;
}

.coll-avai h4,.coll-avai p{
  color: white;
}

.coll-avai .item {
  position: relative;
  overflow: hidden;
}
.coll-avai .item p{
  position: absolute;
  /* width:100%;
  height:100%; */
  /* border:1rem solid rgba(0, 0, 0, 0.42); */
  top: 40%;
  width:unset;
  padding-left:unset;
  left: 50%;
  transform: translate(-50%, -50%);
}
.coll-avai .item p a{
  padding:5px 19px ;
  background-color: rgb(255, 255, 255);
  color: var(--t-c);
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 13px;
  opacity: 0;
  transition: 0.2s;
}
.coll-avai .item::before{
  opacity: 0;
  content: "";
  position: absolute;
  width:100%;
  height:100%;
  top:0;
  left:0;
  background-color: rgba(27, 21, 21, 0.494);
  transition: 0.2s;
}

.coll-avai .item:hover a, .coll-avai .item:hover:before{

  transition: 0.2s;
  opacity: 1;
}
 
/* <!-- shoping-img================================ --> */

/* why-us============== */

.why-us p{
  width:unset ;
  margin:3px;
  color: var(--t-c);
}

.why-us img{
  margin-top:4rem;
  width:100%;
  height:500px;
  object-fit: contain;
}
.why-us h6{
  font-size: 1.3rem;
  margin-top:2rem;
}

/* why-us============== */

/* who we are========================= */

/* .who-w{
  background-color: var(--p-c);
} */

.who-w h4{
  padding-top:15%;
/* color:white; */
font-size:3rem;

}

.who-w p{
  width:unset;
  margin-top:3rem;
}

.who-w img{
  width:100%;
  height:500px;
  object-fit: contain;
}

.who-w .col-md-5{
  background-color: rgb(246, 244, 244);
}



/* review=================== */

.review-b{
  /* background-color: rgba(246, 245, 244, 0.578); */

}
.review-b h4{
  
}
.review-b i{
  color:gold;
  margin:0 5px;
}
.review-b .not{
  color:black !important;
}
.review-b p{
  width:unset;

}
.review-b .col-md-4{
  padding:0 3rem;
}
.review-b img{
  width:120px;
  object-fit: cover;
  height:120px;
  border-radius:10px;
  border:1px solid white;
  margin:1rem 0;
}
.review-b h6{
  float: right;

}

/* review=================== */

/* contact footer`==================================================== */


.contact-foo{
  
  background: rgb(246, 245, 245);
}
.cont-ad{
  padding:3rem 2rem;
  border-right:1px solid var(--t-c);
}
.HIR-SEC {
  padding:2rem;

}
.contact-foo a{
  color: var(--a-c);
}
.contact-foo h6{
  font-size: 2rem;
}
.contact-foo p{
  width: unset;
}
.social-icon i{
  display: block;
  float: right;
}
.social-icon{
  padding: 0 3rem;
}
.social-icon a{
  display: block;
}
.social-icon img{
  width: 30px;
  height:30px;
margin:1rem 0;
}



.drop_box {
  margin: 10px 0;
  padding: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 3px dotted #a3a3a3;
  border-radius: 5px;
}

.drop_box h4 {
  font-size: 16px;
  font-weight: 400;
  color: #2e2e2e;
}

.drop_box p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 12px;
  color: #a3a3a3;
}

.btn {
  text-decoration: none;
  background-color: #005af0;
  color: #ffffff;
  padding: 10px 20px;
  border: none;
  outline: none;
  transition: 0.3s;
}

.btn:hover{
  text-decoration: none;
  background-color: #ffffff;
  color: #005af0;
  padding: 10px 20px;
  border: none;
  outline: 1px solid #010101;
}
.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}


.contact-foo .dir-l{
  border-bottom:2px solid var(--p-c)
}

.contact-foo  .dir-l{
  color:var(--p-c);
  text-decoration:none;
  text-transform: uppercase;
  
}

.contact-foo .dir-l:hover i{
  position:relative;
  right:-15px;
  
}
/* contact footer`==================================================== */

/* footer */

.footer{
  display: flex;
  justify-content: space-between;
  margin-top: 4rem;
 padding:10px;
 border-top:1px solid var(--sec-c);
}
.footer p{
  margin: 0;
}